RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^(home)$ layout/dashboard.php [L]
RewriteRule ^(admin)$ layout/admin/index.php [L]
#RewriteRule ^(admin)$ layout/admin/index.php [L]
RewriteRule ^(login)$ layout/login.php [L]

#NC = No Case / Case Insensitive
#L =
#B =